.footer__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
}
.footer__link:nth-child(5n){
  margin-right: 0;
}
@media (max-width: 767px){
  .footer__link{
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__link:last-child{
    margin-bottom: 48px;
  }
}