.page__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 48px;
}
@media (max-width: 1023px){
  .page__container {
    padding: 0 24px;
  }
}
@media (max-width: 767px){
  .page__container {
    padding: 0 16px;
  }
}